/*
 Project:	Moola - Consulting & Business HTML Template
Version:	1.0.0
Assigned to:	Themeforest
Primary use:	Business, Contruction, Architecture, Charity, Creative Agency 
 */


@media(min-width:768px) and (max-width:990px) {
	
.mainnav ul{
	display: block;
}

	iframe{
		width: 100%;
		height: 400px;
	}
.fillterNav li{
    margin-right:15px;
}
.footerSocial {
    margin-bottom: 20px;
}
.slider-text p {
    font-size: 14px;
    margin-bottom: 30px;
    color: #fff;
}
.theme_slider_title {
    font-size: 30px;
    padding-bottom: 10px;
}
    .headerTop p{
        font-size: 10px;
    }
    .headertop .logo img{
        width: 50%;
        height: auto;
    }
    .tabtopInfo{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .mainnav ul{
        text-align: center;
    }
    .mainnav ul li{
        margin-right: 14px;
    }
    .searchForm{
        padding-left: 0;
    }
    .tp-rightarrow.tparrows.default.round {
        right: 15px !important;
        top: 49% !important;
    }
    .tp-leftarrow.tparrows.default.round {
        left: 15px !important;
        top: 49% !important;
    }
    .revCont,
    .revBtn{
        margin-left: 120px;
    }
    .mainnav ul ul.sub-menu{
        left: -15px;
        margin-left: 0;
    }

    .footer .widget{
        margin-bottom: 50px;
    }
    .aboutimg img{
        width: 100%;
        height: auto;
    }
    .singleTeam{
        margin-bottom: 50px;
    }
    .service  {
        padding: 70px 15px 70px 35px;
    }
    .singleProCaro ol.carousel-indicators{
        bottom: -140px
    }
    .singleProCaro .carousel-indicators li{
        width: 160px;
    }
    .blogSidebar{
        margin-top: 60px;
    }
    .commentForm textarea{
        margin-bottom: 30px;
    }
    .colorPresetArea{
        display: none
    }


}
@media(min-width:991px) {

    .service_sec .themeHeadding h2 {
    margin-bottom: 45px;
    }
.aboutimg{
  margin-top: 30px;
    }
   .aboutcontain .themeHeadding {
    margin-bottom: 45px;
}
}
@media(min-width:768px) {
.aboutimg{
  margin-top: 30px;

}
.commonSection.bgwhite.blogsecs {
    padding-bottom: 20px;
}
.index .singleBlog {
    margin-bottom: 35px;
}
.commonSection.aboutCont {
    padding: 0px 0 20px 0;
}
.commonSection.service_sec.bggray {
    padding-bottom: 30px;
}
.commonSection.teamsec {
    padding-bottom: 30px;
}
.commonSection.fillterProject {
    padding-bottom: 30px;
 
}
#counter {
    padding: 30px 0;
}
}
@media(min-width:991px) and (max-width:1280px){
    .tabtopInfo{
        margin-top: 30px;
    }
    .searchForm{
        padding-left: 0;
    }
   .footerSocial {
    margin-bottom: 20px;
    
    iframe{
		width: 100%;
		height: 600px;
	}
} 

}
@media(min-width:320px) and (max-width:480px){
	iframe{
		width: 100%;
		height: 200px;
	}
.blogSection {
    padding: 55px 0;
}
.blog-sidebar .blogSection {
    padding: 55px 0 0;
}
.themeHeadding h2{
    font-size:24px;
}
.shareSocial {
    float: left;
}
.aboutcontain {
  
    padding: 0 0px; 
}
.singleProCaro {
    margin-bottom: 110px !important;
}
.singleProCaro ol.carousel-indicators {
    bottom: -80px !important;
}
}
@media(min-width:320px) and (max-width:767px){
    .themeHeadding p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    padding: 0px 20px;
}
  .projectSingleSec {
    padding-top: 50px;
    padding-bottom: 30px;
}
.projectSingleText {
    margin-bottom: 20px;
}
.singleProCaro ol.carousel-indicators{
        bottom: -106px;
}
.singleProCaro .carousel-indicators li{
    height:100%;
}
.projectDetais p {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 15px;
}
    .commonSection.bgwhite.blogsecs {
    padding-bottom: 25px;
}
.singleProCaro .carousel-control.left{
  left: 0;
}
.singleProCaro .carousel-control.right {
    left: auto;
    right: 0px;
}
#testominal_sec {
    padding-bottom: 30px;
}
.commonSection.fillterProject {
    padding-bottom: 30px;
   
}
    .index .singleBlog {
    margin-bottom: 30px;
}
    .testmonialsec.owl-carousel.owl-theme.owl-loaded {
    float: left;
}
.testmonialsec p {
    font-size: 14px;
     font-style: normal; 
    color: #fff;
}
    .fillterNav li {
        margin-right: 20px;
    }
    .showit {
    bottom: 30px;
    right: 10px;
}
#counter {
    padding: 10px 0;
}
.countdown {
    margin-bottom: 30px;
    text-align: center;
    margin-top: 30px;
}
    .countdown span{
        font-size:30px;
    }
.theme_slider_title{
font-size:22px;
padding-bottom:5px;
}
.slider-text .text-left{
text-align:center;
}
 .headertop{
	 display:none;
 }
   .slider-text p{
	 display:none; 
   }
   .slider-text {
    margin-top: -70px;
   }
   .themeBtn{
	   padding: 12px 15px;
    height: 35px;
    font-size: 13px;
   }
   .commonSection {
    padding: 20px 0;
    position: relative;
}
    .Top {
        float: none;
        margin-left: 0;
        margin-top: 5px;
    }
	.index .commonSection.fillterProject .fillterNav {
    text-align: left;
}
.counticon h3 {
    font-size: 16px;
}
    .headerTop p{
        margin: 15px 0 0;
    }
    .socialLink {
        display: inline-block;
        text-align: center;
        margin: auto;
        float: none;
    }
    .socialLink a{
        border: 1px solid #dddddd;
        margin-right: 5px;
    }
    .logo {
        padding-bottom: 15px;
    }
    .headertop .logo img {
        width: 100%;
    }
    .singMiddInfo{
        margin-left: 0;
        margin-bottom: 15px;
        width: 100%;
    }
    .headMiddBtn a {
        height: 35px;
        padding: 10px;
    }
    .header{
        padding: 10px 0;
        min-height: 50px; 
        background: #fff;
    }
    .mainnav ul,
    .searchForm{
        display: none;
    }
    .mobileMenu{
        width: 25px;
        height: 20px;
        display: inline-block;
        line-height: .2;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 3px;
    }

.mainnav ul li a {
    color: #000;
}


.mainnav ul li.active a {
    color: #e00a12;
}


    .mobileMenu span{
        width: 100%;
        height: 2px;
        background: #000;
        display: inline-block;
    }
    .mobileMenu.active span{
        background: #e00a12;
    }
    .logoMobile{
        margin-top: 5px;
    }
    .mainnav ul {
       /* height: 270px; */
        margin-top: 15px;
        overflow: scroll;
        text-align: center;
        border-top: 1px solid #202d39;
        padding-top: 15px;
    }
    .mainnav ul li{
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        margin-bottom: 25px;
    }
	.index .themeHeadding p {
    font-size: 15px;
    line-height: 36px;
    color: #fff;
    padding: 0 10px;
}
    .mainnav ul ul.sub-menu {
        left: 0;
        margin-left: 0;
        opacity: 1;
        position: relative;
        top: 0;
        transition:none;
        width: 100%;
        z-index: 1;
        text-align: center;
        visibility: visible;
        height: inherit;
        padding-top: 0;
    }
    .mainnav ul li:hover ul.sub-menu{
        top: 0;
    }
    .mainnav ul ul.sub-menu li {
        margin: 20px 0 0;
    }
    .newsBlogIn{
        top: 30px;
    }
    .revCont p,
    .revCont h2{
        display: none;
    }
    .tp-leftarrow.tparrows.default.round{
        left: 67% !important;
        top: 88% !important;
    }
    .tp-rightarrow.tparrows.default.round {
        right:15px !important;
        top: 88% !important;
    }

    .siBlogThumb img{
        position: relative;
        margin-bottom: 10px
    }
    .siBlogThumb{
        padding-left: 0;
        margin-bottom: 30px;
    }
    .footer .widget{
        margin-bottom: 60px;
    }
    .copyright p{
        text-align: left;
        font-size: 13px;
    }
    .aboutimg img{
        width: 100%;
        height: auto;
    }
    .service  {
        padding: 60px 10px 50px 10px;
    }
    .teammatesSec {
        overflow: hidden;
    }
 
    .singleProCaro .carousel-indicators li{
        width: 24%;
        margin: 0;
    }
    .singleProCaro {
        margin-bottom: 150px;
    }
    .blogMeta, .blogMeta a{
        line-height: 24px;
    }
    .socialShare {
        padding: 6px 12px 35px;
    }
    .fwaIn img{
        position: relative;
        margin-bottom: 30px;
    }
    .fwaIn{
        padding: 15px;
    }
    .singComTitle{
        font-size: 16px;
    }
    .comreplay{
        top: 5px;
    }
    .blogSidebar{
        margin-top: 60px;
    }
    .commentForm textarea{
        margin-bottom: 30px;
    }
    .blogSidebar.left{
        margin-top: 0;
        margin-bottom: 60px;
    }
    .errorPage {
        padding: 45px 0 75px;
    }
    .errorIn h1{
        font-size: 140px;
    }
    .commentForm{
        margin-bottom: 60px;
    }
.footer{
padding-bottom:0px;
}
}

@media(min-width:1200px) and (max-width:1400px){
	iframe{
		width: 100%;
		height: 800px;
	}
    .tp-leftarrow.tparrows.default.round {
        left: 15px !important;
        top: 49% !important;
    }
    .tp-rightarrow.tparrows.default.round {
        right: 15px !important;
        top: 49% !important;
    }
    .navigation > li:nth-of-type(2n+1) {
        width: 55%;
    }
}